{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block titlehead %}
        <title>Pay U Demo</title>
    {% endblock %}
    {% block extraheaadcss %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    {% block bodycontent %}
        <header class="header">
            <div class="row">
                <div class="col-sm-2">PayU Demo</div>
                <div class="col-sm-10">
                    {% if 'authToken' in request.session %}
                        <span>Welcome, <b>{{user.email}}</b></span>
                        <span><a href="/logout/">Logout</a></span>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endblock %}
    {% block extraheaadjs %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>