{% extends "base.html" %}
    {% block extraheaadcss %}
        {{ block.super }}
        <link href="/static/css/style.css" rel="stylesheet">
    {% endblock %}
    {% block bodycontent %}
        {{ block.super }}
        <div class="row formcontainer">
            <form action="{% url 'login' %}" method="post", autocomplete="off" >
                {% csrf_token %}
                <div class="containerDetails">
                    <div class="col-sm-12 login-header">Demo SignIn</div>
                    <div class="col-sm-12 formbody">
                        {% if form.non_field_errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        {% for field in form %}
                            <div class="group">
                                {{ field }}
                                {% if field.errors %}{{ field.errors }}{% endif %}
                            </div>
                        {% endfor %}
                        <div class="group" style="margin-bottom: 5%;">
                            <p class="login_btn_p"><button type="submit" class="btn btn-primary">Login</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
    {% block extraheaadjs %}
        {{ block.super }}
    {% endblock %}