html, body {
	background: #f7f7f7;
	margin: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

header.header {
	background: white;
    padding: 10px;
    margin-bottom: 20px;
}

header.header > div.row > div.col-sm-2 {
	font-size: 18px;
    padding-left: 45px;
    opacity: 0.7;
}

header.header > div.row > div.col-sm-10 {
	text-align: right;
}

div.formcontainer {
    margin: 4% 32% 23px 32%;
    background: white;
    padding: 0;
}

div.login-header {
    padding: 10px;
    background: darkcyan;
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
}

div.group {
	margin-bottom: 3%;
	margin-left: 5%;
}

div.group > input, div.group > select {
	width: 65%;
}

ul.errorlist {
	padding: 0;
	color: red;
    font-size: 10px;
    list-style-type: none;
}

p.signupc {
	font-size: 10px;
}

span > a {
	margin-left: 20px;
    margin-right: 10px;
}

.ext-container .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.ext-container .tab-content {
  	background: white;
  	color: #428bca;
  	padding : 5px 15px;
    height: calc(100% - 48px);
}

.nav-tabs>li.active>a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	font-weight: bold;
}

div.container.ext-container {
	width: 75%;
	height: calc(100% - 75px);
}

button.btn.btn-primary.createbtn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
}

span.createcode {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
}

.tab-pane {
	margin: 5%;
}

div.group > label {
	color: black;
	opacity: 0.5;
}

div.col-sm-6.autoincreamentdv {
    text-align: center;
    font-size: 20px;
    color: black;
    opacity: 0.6;
    margin-top: 10%;
}

span[type=button] {
	float: right;
	margin-right: 35%;
	width: 25%
}

button[type=submit] {
	width: 25%;
}

div#formview {
	display: none;
}

div.col-sm-3 > label {
	margin-left: 20px;
	color: black;
	opacity: 0.7;
}

#datepicker1, #datepicker2{
	width:180px;
	margin: 0 20px 20px 20px;
}

#datepicker1 > span:hover, #datepicker2 > span:hover{
	cursor: pointer;
}

div.col-sm-3 > button {
	margin-top: 25px;
}

table.w3-table.w3-striped > thead > tr {
	background: darkgrey;
	color: white;
}

table.w3-table.w3-striped > tbody > tr {
	font-size: 12px;
}

table.w3-table.w3-striped {
	color: black;
	opacity: 0.8;
}

div.col-sm-12.export {
	text-align: right;
    margin-bottom: 3%;
}

div.col-sm-12.codedata {
	height: 300px;
    overflow-y: scroll;
    padding: 0;
}

.searchbox {
    background-image: url(https://www.w3schools.com/css/searchicon.png);
    background-position: 6px 7px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 16px 24px 12px 30px;
    background-size: 15px;
    width: 100px;
    height: 20px;
}

.down_arrow {
	border: solid black;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	cursor: pointer;
  	margin-right: 10px;
}

td > button {
	width: 100% !important;

}

td > input {
	width: 100px !important;
	font-size: 10px;
}

span.cancel {
	text-align: center;
	display: block;
	cursor: pointer;
}

span.edit {
	cursor: pointer;
}

span.delete {
	cursor: pointer;
}

th {
	font-size: 12px;
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
	border: 1px solid black;
}